<!DOCTYPE html>
<!--indentation fausse-->
<html lang="en">
<head>
<meta charset="utf-8">
<title>Petit Nomade</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="guymoyo">

<!-- Le styles -->
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #f4f1dd;
}
</style>
<link href="css/custom.css" rel="stylesheet">
<link href="css/icon.css" rel="stylesheet">
<script src="js/holder.js"></script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
</head>

<body>
	<!-- header -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand"><img src="img/navbarlogo.png"></a>
			<div class="nav-collapse collapse bs-navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#"><i class=" icon-globe"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-group"></i></a>
						<ul class="dropdown-menu xlarge">
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-3" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded" src="data:img/png;" />
									</div>
									<div class="col-lg-5 col-sm-5 col-4" style="margin-left: -30px;">
										<a>Clement kaka</a> vous a envoye une demande
									</div>
									<div class="col-lg-5 col-sm-5 col-5">
										<a class="btn btn-default"><i class="icon-plus-sign"></i> Ajouter</a> 
										<a class="btn btn-default"><i class="icon-minus-sign"></i></a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-3" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded" src="data:img/png;" />
									</div>
									<div class="col-lg-5 col-sm-5 col-4" style="margin-left: -30px;">
										<a>Pierre Tulsene</a> vous a envoye une demande
									</div>
									<div class="col-lg-5 col-sm-5 col-5">
										<a class="btn btn-default"><i class="icon-plus-sign"></i> Ajouter</a>
										<a class="btn btn-default"><i class="icon-minus-sign"></i></a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li><a href="#">All friends</a></li>
						</ul>
					</li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-envelope-alt"></i></a>
						<ul class="dropdown-menu xmoyen">
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-2" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded" src="data:img/png;" />
									</div>
									<div class="col-lg-8 col-sm-8 col-8">
										<a>hello rabin...</a><br /> from Clement
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-2" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded" src="data:img/png;" />
									</div>
									<div class="col-lg-8 col-sm-8 col-8">
										<a>hello rabin...</a><br /> from Clement
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li><a href="message.html">All Messages</a></li>
						</ul>
					</li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-camera"></i></a>
						<ul class="dropdown-menu">
							<li><a href="gestionnairephoto.html">Gestionnaire photos / vidéos</a></li>
							<li><a href="#">Concour photos</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li>
						<div class="input-group searchinput">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="icon-search"></i>
								</button>
							</span>
						</div>
					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#">Forum</a></li>
							<li class="divider"></li>
							<li><a href="utilisateur.html">Gestion profil</a></li>
							<li><a href="gestioncompte.html">Gestion compte</a></li>
							<li><a href="gestionvehicule.html">Gestion véhicule</a></li>
							<li><a href="#">Langues</a></li>
							<li class="divider"></li>
							<li><a href="#">Déconnexion</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- body conetnt -->
	<div class="container2">
		<!-- block top -->
		<div class="row">
			<div class="col-lg-2 user col-sm-2">
				<a href="utilisateur.html"><img alt="user" src="img/avatar.png" class="img-rounded">guymoyo</a>
			</div>
			<div class="col-lg-6 col-sm-6">
				<!--affichage du menu pour les grands écrans-->
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="#home" data-toggle="tab">Nomades</a>
					</li>
					<li><a href="#onglet2" data-toggle="tab">Itinéraire</a></li>
					<li><a href="#onglet3" data-toggle="tab">Carnet</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="row">
					<div class="col-lg-7 col-sm-7 col-6">
						<select class="form-group pull-right">
							<option>Non acheté</option>
							<option>En recherche d'achat</option>
							<option>À vendre</option>
							<option>sur la route</option>
							<option>en étape</option>
							<option>en réparation</option>
							<option>rentré à la maison</option>
						</select>
					</div>
					<div class="col-lg-5 col-sm-5 col-6 pull-right">
						<a href="gestionvehicule.html">Balloch</a><a><img data-src="holder.js/46x46" src="data:img/png;" style="margin-left: 10px;"></a>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-1" style="margin-right: 12px;">
				<h3>Pubs</h3>
				<div class="row">
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="row">
					<div class="col-lg-12">
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">
									<i class="icon-globe"></i> Map
								</h3>
							</div>
							google map
						</div>
					</div>
					<div class="col-lg-4">
						<button class="btn btn-success">
							<i class=" icon-info-sign"></i> Info pratique
						</button>
					</div>
					<div class="col-lg-4 col-lg-offset-4">
						<button class="btn btn-danger ">
							<i class="icon-warning-sign"></i> Info danger
						</button>
					</div>				
				</div>
			</div>
			<div class="tab-content">
				<div class="col-lg-5 tab-pane active fade in" id="home" style="margin-left: -16px;">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-user"></i> Profil voyageur
							</h3>
						</div>
						<div class="row">
							<div class="col-lg-2 col-sm-2 col-4">
								<img alt="user" src="img/avatar.png" class="img-rounded">
							</div>
							<div class="col-lg-6 col-sm-6 col-8">
								<label>Nationalite: </label>Francais<br /> <label>Nom:
								</label>Clement Kaka<br /> <label>Site: </label>twitter/kaka.clement
							</div>
							<div class="col-lg-4 col-sm-4 col-12">
								<a class="btn btn-default "><i class="icon-envelope"></i>
									Message</a> <a class="btn btn-default"
									style="margin-top: 3px; width: 105px;"><i
									class="icon-plus-sign"></i> Ajouter</a> <!-- checkbox pour suivre si déjà ami -->
							</div>
						</div>
						<br /> <label>Langues parlees: </label>Francais, Italien<br /> <label>Pays
							visites: </label>Italie, Cameroun, France, Chilie, Burkina<br /> <br />
						<label>Infos supplémentaires / but du voyage:</label>Lorem ipsum
						dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi
					</div>
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-truck"></i> Profil vehicule
							</h3>
						</div>
						<div class="row">
							<div class="col-lg-2 col-sm-2 col-4">
								<img alt="user" src="holder.js/80x80" class="img-rounded">
							</div>
							<div class="col-lg-10 col-sm-10 col-8">
								<label>Nationalite: </label>Allemand<br /> <label>Nom:
								</label>Car Kaka<br /> <label>Modele: </label>Mercedes
							</div>
						</div>
					</div>
				</div>
				<div id="onglet2" class="tab-pane fade col-lg-5"
					style="margin-left: -16px;">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-plus"></i> Nouvel Itineraire
							</h3>
						</div>
						<div class="row">
							<div class="col-lg-9">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Départ">
									<span class="input-group-addon"><a href="#"><i class="icon-screenshot"></i></a></span>
								</div><br /> 
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Etape">
									<span class="input-group-addon"><a href="#"><i class="icon-screenshot"></i></a></span>
								</div><br />
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Arrivée">
									<span class="input-group-addon"><a href="#"><i class="icon-screenshot"></i></a></span>
								</div>
							</div>
							<div class="col-lg-3">
								<a href="#" class="pull-down"><button class="btn">Valider</button></a>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-road"></i> Itineraire du parcours
							</h3>
						</div>
						Panel content
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-info-sign"></i> Infos pratiques du parcours
							</h3>
						</div>
						<div class="row panel">
							<div class="col-lg-2">
								<p>Icône</p>
							</div>
							<div class="col-lg-7" style="border-left: solid 1px;">
								<p>résumé</p>
							</div>
							<div class="col-lg-3" style="border-left: solid 1px;">
								<ul class="nav nav-tabs nav-justified">
									<li><p>0</p></li>
									<li><i class="icon-thumbs-down"></i></li>
									<li><p>| 0</p></li>
									<li><i class="icon-thumbs-up"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-warning-sign"></i> Danger sur le parcours
							</h3>
						</div>
						Panel content
					</div>
				</div>
				<div id="onglet3" class="tab-pane fade col-lg-5"
					style="margin-left: -16px;">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-user"></i> Carnet du voyageur
							</h3>
						</div>
						<textarea class="form-control" row="8">Racontez votre étape</textarea>
						<div class="row">
							<div class="col-lg-8 col-lg-offset-4 col-12">
								<ul class="nav nav-tabs nav-justified">
									<li><a href="#"><button class="btn">
												<i class="icon-camera"></i>
											</button></a></li>
									<li><a href="#"><button class="btn">
												<i class="icon-calendar"></i>
											</button></a></li>
									<li><a href="#"><button class="btn">
												<i class="icon-screenshot"></i>
											</button></a></li>
									<li><a href="#"><button class="btn">Valider</button></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="icon-truck"></i> Carnet du vehicule
							</h3>
						</div>
						<div class="row">
							<div class="col-lg-9">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Départ">
									<span class="input-group-addon"><a href="#"><i class="icon-screenshot"></i></a></span>
								</div><br /> 
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Etape">
									<span class="input-group-addon"><a href="#"><i class="icon-screenshot"></i></a></span>
								</div><br />
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Arrivée">
									<span class="input-group-addon"><a href="#"><i class="icon-screenshot"></i></a></span>
								</div>
							</div>
							<div class="col-lg-3">
								<a href="#" class="pull-down"><button class="btn">Valider</button></a>
							</div>
						</div>
						<br>
						<textarea class="form-control" row="8">Racontez votre étape</textarea>
						<div class="row">
							<div class="col-lg-8 col-lg-offset-4 col-12">
								<ul class="nav nav-tabs nav-justified">
									<li><a href="#"><button class="btn">
												<i class="icon-camera"></i>
											</button></a></li>
									<li><a href="#"><button class="btn">
												<i class="icon-calendar"></i>
											</button></a></li>
									<li><a href="#"><button class="btn">
												<i class="icon-screenshot"></i>
											</button></a></li>
									<li><a href="#"><button class="btn">Valider</button></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1" style="margin-left: -12px;">
				<h3>Pubs</h3>
				<div class="row">
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!--le fil chronologique sera affiché lors de la sélection d'un nomade et avec le carnet de voyage. Quand l'onglet Itinéraire sera alors la météo s'affichera-->

			<div class="col-lg-5 col-lg-offset-1 col-6">
				<h2 class="text-center">historique Voyageur</h2>
				<br>
				<p class="text-center">photos utilisateur(avec localisation sur
					la map) + résumé d'étape rataché au fil chronologique</p>
			</div>
			<div class="col-lg-5 col-6">
				<h2 class="text-center">historique Véhicule</h2>
				<p class="text-center">photos véhiculeutilisateur(avec
					localisation sur la map) + résumé du parcours rataché au fil
					chronologique</p>
			</div>
		</div>
		<br />
		<footer class="text-center">
			<a href="#">© Petit Nomad 2238 </a> | <a href="#" class="traitgauche">Contact
			</a> | <a href="#" class="traitgauche">Confidentialité </a> | <a href="#"
				class="traitgauche">Mentions légales </a> | <a href="#"
				class="traitgauche">Aide / FAQ </a> | <a href="#"
				class="traitgauche">Professionels </a> | <a href="#"
				class="traitgauche">Annonceurs </a> | <a href="#"
				class="traitgauche">Développement / Traduction </a>
		</footer>
	</div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-transition.js"></script>
	<script src="js/bootstrap-alert.js"></script>
	<script src="js/bootstrap-modal.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>
	<script src="js/bootstrap-scrollspy.js"></script>
	<script src="js/bootstrap-tab.js"></script>
	<script src="js/bootstrap-tooltip.js"></script>
	<script src="js/bootstrap-popover.js"></script>
	<script src="js/bootstrap-button.js"></script>
	<script src="js/bootstrap-collapse.js"></script>
	<script src="js/bootstrap-carousel.js"></script>
	<script src="js/bootstrap-typeahead.js"></script>

</body>
</html>