<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Petit Nomade</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="guymoyo">

<!-- Le styles -->
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.thumbnail {
	background-color: white;
	z-index: 2;
	position: relative;
	margin-bottom: 40px !important;
}

.thumbnails>li {
	margin-left: 15px;
	height: 100px;
	width: 100px;
	display: inline-block;
	list-style: none;
}

.thumbnail img,.thumbnail>a {
	z-index: 2;
	height: 100px;
	width: 100px;
	position: relative;
	display: block;
}

img.grayscale {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	/*filter: url(desaturate.svg#grayscale);
filter: gray;
filter: grayscale(100%); */
}

.thumbnail .gallery-controls {
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	height: 22px;
	min-height: 22px;
	width: 80px;
	padding: 9px;
}

.thumbnail .gallery-controls p {
	display: block;
	margin: auto;
	width: 100%;
}
</style>
<link href="css/custom.css" rel="stylesheet">
<link href="css/icon.css" rel="stylesheet">
<link href="css/chat.css" rel="stylesheet">
<script src="js/holder.js"></script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="img/apple-touch-icon-114x114.png">

<script type="text/javascript">
	//gallery controlls container animation
	$('ul.gallery li')
			.hover(
					function() {
						$('img', this).fadeToggle(1000);
						$(this).find('.gallery-controls').remove();
						$(this)
								.append(
										'<div class="well gallery-controls">'
												+ '<p><a href="#" class="gallery-edit btn"><i class="icon-edit"></i></a> <a href="#" class="gallery-delete btn"><i class="icon-remove"></i></a></p>'
												+ '</div>');
						$(this).find('.gallery-controls').stop().animate({
							'margin-top' : '-1'
						}, 400, 'easeInQuint');
					}, function() {
						$('img', this).fadeToggle(1000);
						$(this).find('.gallery-controls').stop().animate({
							'margin-top' : '-30'
						}, 200, 'easeInQuint', function() {
							$(this).remove();
						});
					});

	//gallery image controls example
	//gallery delete
	$('.thumbnails').on('click', '.gallery-delete', function(e) {
		e.preventDefault();
		//get image id
		//alert($(this).parents('.thumbnail').attr('id'));
		$(this).parents('.thumbnail').fadeOut();
	});
	//gallery edit
	$('.thumbnails').on('click', '.gallery-edit', function(e) {
		e.preventDefault();
		//get image id
		//alert($(this).parents('.thumbnail').attr('id'));
	});

	//gallery colorbox
	$('.thumbnail a').colorbox({
		rel : 'thumbnail a',
		transition : "elastic",
		maxWidth : "95%",
		maxHeight : "95%"
	});
</script>

</head>

<body>
	<!-- header -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<button class="navbar-toggle" type="button" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand"><img
				src="img/navbarlogo.png"></a>
			<div class="nav-collapse collapse bs-navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#"><i class=" icon-home"></i></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <i class="icon-group"></i>
					</a>
						<ul class="dropdown-menu xlarge">
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-3" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded"
											src="data:img/png;" />
									</div>
									<div class="col-lg-5 col-sm-5 col-4"
										style="margin-left: -30px;">
										<a>Clement kaka</a> vous a envoye une demande
									</div>
									<div class="col-lg-5 col-sm-5 col-5">
										<a class="btn btn-default"><i class="icon-plus-sign"></i>
											Ajouter</a> <a class="btn btn-default"><i
											class="icon-minus-sign"></i></a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-3" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded"
											src="data:img/png;" />
									</div>
									<div class="col-lg-5 col-sm-5 col-4"
										style="margin-left: -30px;">
										<a>Pierre Tulsene</a> vous a envoye une demande
									</div>
									<div class="col-lg-5 col-sm-5 col-5">
										<a class="btn btn-default"><i class="icon-plus-sign"></i>
											Ajouter</a> <a class="btn btn-default"><i
											class="icon-minus-sign"></i></a>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li><a href="#">All friends</a></li>
						</ul></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class=" icon-envelope-alt"></i></a>
						<ul class="dropdown-menu xmoyen">
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-2" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded"
											src="data:img/png;" />
									</div>
									<div class="col-lg-8 col-sm-8 col-8">
										<a>hello rabin...</a><br /> from Clement
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row">
									<div class="col-lg-2 col-sm-2 col-2" style="margin-left: 10px;">
										<img data-src="holder.js/40x40" class="img-rounded"
											src="data:img/png;" />
									</div>
									<div class="col-lg-8 col-sm-8 col-8">
										<a>hello rabin...</a><br /> from Clement
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li><a href="message.html">All Messages</a></li>
						</ul></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class="icon-camera"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#">Gestionnaire photos / vidéos</a></li>
							<li><a href="#">Concour photos</a></li>
						</ul></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
							class="icon-plus"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#">Forum</a></li>
							<li class="divider"></li>
							<li><a href="#">Gestion profil</a></li>
							<li><a href="#">Gestion compte</a></li>
							<li><a href="#">Langues</a></li>
							<li class="divider"></li>
							<li><a href="#">Déconnexion</a></li>
						</ul></li>

				</ul>
				<div class="input-group pull-right searchinput">
					<input type="text" class="form-control"> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class=" icon-search"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<!-- body conetnt -->
	<div class="container2">
		<!-- block top -->
		<div class="row">
			<div class="col-lg-2 user col-sm-2">
				<a><img alt="user" src="img/avatar.png" class="img-rounded">
					guymoyo</a>
			</div>
			<div class="col-lg-6 col-sm-6">
				<!--affichage du menu pour les grands écrans-->
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="#home" data-toggle="tab">Nomades</a>
					</li>
					<li><a href="#onglet2" data-toggle="tab">Itinéraire</a></li>
					<li><a href="#onglet3" data-toggle="tab">Carnet</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="row">
					<div class="col-lg-7 col-sm-7 col-6">
						<select class="form-control">
							<option>Non acheté</option>
							<option>En recherche d'achat</option>
							<option>À vendre</option>
							<option>sur la route</option>
							<option>en étape</option>
							<option>en réparation</option>
							<option>rentré à la maison</option>
						</select>
					</div>
					<div class="col-lg-5 col-sm-5 col-6">
						<a>Balloch</a><a><img data-src="holder.js/46x46"
							src="data:img/png;" style="margin-left: 10px;"></a>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-1" style="margin-right: 12px;">
				<h3>Pubs</h3>
				<div class="row">
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3" style="">

				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Enter album name"> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="icon-folder-open"></i> Add
						</button>
					</span>
				</div>
				<!-- /input-group -->

				<div class="list-group"
					style="overflow-y: scroll; max-height: 300px;">
					<a href="#" class="list-group-item "> <span class="badge">3</span>
						<i class="icon-folder-open"></i> LA plages
					</a> <a href="#" class="list-group-item"> <span class="badge">15</span>
						<i class="icon-folder-open"></i> Arnold Vieux
					</a> <a href="#" class="list-group-item active"> <span
						class="badge">2</span> <i class="icon-folder-open"></i> Brice
						Conpiere
					</a> <a href="#" class="list-group-item"> <span class="badge">2</span>
						<i class="icon-folder-open"></i> Le Liguori
					</a> <a href="#" class="list-group-item"> <span class="badge">2</span>
						<i class="icon-folder-open"></i> Pipo Archibal
					</a> <a href="#" class="list-group-item"> <span class="badge">2</span>
						<i class="icon-folder-open"></i> Brice Conpiere
					</a> <a href="#" class="list-group-item"> <span class="badge">2</span>
						<i class="icon-folder-open"></i> Le Liguori
					</a> <a href="#" class="list-group-item"> <span class="badge">2</span>
						<i class="icon-folder-open"></i> Pipo Archibal
					</a>
				</div>

			</div>
			<div class="col-lg-7" style="">
				<!-- Chat
					================================================== -->
				<h3 class="">
					<i class="icon-book"></i> Album 1
				</h3>
				<hr>
				<ul class="thumbnails gallery" style="margin-left: -25px;">
					<li id="image-1" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/1.jpg)"
						title="Sample Image 1" href="img/gallery/1.jpg"><img
							class="grayscale" src="img/gallery/thumbs/1.jpg"
							alt="Sample Image 1"></a></li>
					<li id="image-2" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/2.jpg)"
						title="Sample Image 2" href="img/gallery/2.jpg"><img
							class="grayscale" src="img/gallery/thumbs/2.jpg"
							alt="Sample Image 2"></a></li>
					<li id="image-3" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/3.jpg)"
						title="Sample Image 3" href="img/gallery/3.jpg"><img
							class="grayscale" src="img/gallery/thumbs/3.jpg"
							alt="Sample Image 3"></a></li>
					<li id="image-4" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/4.jpg)"
						title="Sample Image 4" href="img/gallery/4.jpg"><img
							class="grayscale" src="img/gallery/thumbs/4.jpg"
							alt="Sample Image 4"></a></li>
					<li id="image-5" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/5.jpg)"
						title="Sample Image 5" href="img/gallery/5.jpg"><img
							class="grayscale" src="img/gallery/thumbs/5.jpg"
							alt="Sample Image 5"></a></li>
					<li id="image-6" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/6.jpg)"
						title="Sample Image 6" href="img/gallery/6.jpg"><img
							class="grayscale" src="img/gallery/thumbs/6.jpg"
							alt="Sample Image 6"></a></li>
					<li id="image-7" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/7.jpg)"
						title="Sample Image 7" href="img/gallery/7.jpg"><img
							class="grayscale" src="img/gallery/thumbs/7.jpg"
							alt="Sample Image 7"></a></li>
					<li id="image-8" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/8.jpg)"
						title="Sample Image 8" href="img/gallery/8.jpg"><img
							class="grayscale" src="img/gallery/thumbs/8.jpg"
							alt="Sample Image 8"></a></li>
					<li id="image-9" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/9.jpg)"
						title="Sample Image 9" href="img/gallery/9.jpg"><img
							class="grayscale" src="img/gallery/thumbs/9.jpg"
							alt="Sample Image 9"></a></li>
					<li id="image-10" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/10.jpg)"
						title="Sample Image 10" href="img/gallery/10.jpg"><img
							class="grayscale" src="img/gallery/thumbs/10.jpg"
							alt="Sample Image 10"></a></li>
					<li id="image-11" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/11.jpg)"
						title="Sample Image 11" href="img/gallery/11.jpg"><img
							class="grayscale" src="img/gallery/thumbs/11.jpg"
							alt="Sample Image 11"></a></li>
					<li id="image-12" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/12.jpg)"
						title="Sample Image 12" href="img/gallery/12.jpg"><img
							class="grayscale" src="img/gallery/thumbs/12.jpg"
							alt="Sample Image 12"></a></li>
					<li id="image-13" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/13.jpg)"
						title="Sample Image 13" href="img/gallery/13.jpg"><img
							class="grayscale" src="img/gallery/thumbs/13.jpg"
							alt="Sample Image 13"></a></li>
					<li id="image-14" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/14.jpg)"
						title="Sample Image 14" href="img/gallery/14.jpg"><img
							class="grayscale" src="img/gallery/thumbs/14.jpg"
							alt="Sample Image 14"></a></li>
					<li id="image-15" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/15.jpg)"
						title="Sample Image 15" href="img/gallery/15.jpg"><img
							class="grayscale" src="img/gallery/thumbs/15.jpg"
							alt="Sample Image 15"></a></li>
					<li id="image-16" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/16.jpg)"
						title="Sample Image 16" href="img/gallery/16.jpg"><img
							class="grayscale" src="img/gallery/thumbs/16.jpg"
							alt="Sample Image 16"></a></li>
					<li id="image-17" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/17.jpg)"
						title="Sample Image 17" href="img/gallery/17.jpg"><img
							class="grayscale" src="img/gallery/thumbs/17.jpg"
							alt="Sample Image 17"></a></li>
					<li id="image-18" class="thumbnail"><a
						style="background: url(img/gallery/thumbs/18.jpg)"
						title="Sample Image 18" href="img/gallery/18.jpg"><img
							class="grayscale" src="img/gallery/thumbs/18.jpg"
							alt="Sample Image 18"></a></li>
				</ul>
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>

			</div>
			<div class="col-lg-1" style="margin-left: -12px;">
				<h3>Pubs</h3>
				<div class="row">
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
					<div class="col-sm-3 col-6 col-lg-12">
						<img data-src="holder.js/110x80" src="data:img/png;" /> <a>brikabra.com</a>
					</div>
				</div>
			</div>
		</div>
		<br /> <br />
		<footer class="text-center">
			<a href="#">© Petit Nomad 2238 </a> | <a href="#" class="traitgauche">Contact
			</a> | <a href="#" class="traitgauche">Confidentialité </a> | <a href="#"
				class="traitgauche">Mentions légales </a> | <a href="#"
				class="traitgauche">Aide / FAQ </a> | <a href="#"
				class="traitgauche">Professionels </a> | <a href="#"
				class="traitgauche">Annonceurs </a> | <a href="#"
				class="traitgauche">Développement / Traduction </a>
		</footer>
	</div>


	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-transition.js"></script>
	<script src="js/bootstrap-alert.js"></script>
	<script src="js/bootstrap-modal.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>
	<script src="js/bootstrap-scrollspy.js"></script>
	<script src="js/bootstrap-tab.js"></script>
	<script src="js/bootstrap-tooltip.js"></script>
	<script src="js/bootstrap-popover.js"></script>
	<script src="js/bootstrap-button.js"></script>
	<script src="js/bootstrap-collapse.js"></script>
	<script src="js/bootstrap-carousel.js"></script>
	<script src="js/bootstrap-typeahead.js"></script>

</body>
</html>
