.user>a>img {
	display: inline-block;
	height: 46px;
	vertical-align: center;
	width: 46px;
	margin-left:0;
}

.user {
	cursor: pointer;
}

#topheader .user{
  margin-left:5%;
}

.user>a:HOVER {
	text-decoration: none;
}

.container2 {
	max-width: auto;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.container2 a,.dropdown-menu a {
	cursor: pointer;
}

.xlarge {
	min-width: 400px;
}

.xmoyen {
	min-width: 300px;
}

.navbar-brand {
	padding: 10px;
	margin-left: -40px;
	margin-right: 20px;
}

.searchinput {
	width: 230px;
	padding-top: 7px;
}

.loginInput>span {
	font-size: 13px;
	color: gray;
	font-weight: lighter;
}

.linkForgotPassword {
	font-size: 13px;
	margin-top: 10px;
	cursor: pointer;
}

.logoLink {
	margin-left: 10px;
}

.avatarDropdown {
	margin-left: 10px;
}

.friendInvitDropdown {
	margin-left: -10px;
}

.defaultVehicleImg {
	margin-left: 10px;
}

.userVehicleImg {
	margin-left: 10px;
	width: 46px;
	height: 46px;
}

.widget .panel-body {
	padding: 0px;
}

.widget .panel-title {
	display: inline
}

.widget .label-info {
	float: right;
}

.widget li.list-group-item {
	border-radius: 0;
	border: 0;
	border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
	background-color: rgba(86, 61, 124, .1);
}

.widget .mic-info {
	color: #666666;
	font-size: 11px;
}

.widget .parcour{
	color:#b57a35;
	font-size:11px;
}

.widget .user-etape{
	margin-right:2%;
}

.scroll{
	height:400px;
	overflow-y:auto;
	overflow-x:hidden;
}

#historique_user hr{
	margin:0;
}

#historique_vehicule hr{
	margin:0;
}

.widget .action {
	margin-top: 5px;
}

.widget .comment-text {
	font-size: 12px;
	color:#000;
}

.widget .btn-block {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.picManager>.thumbnail {
	background-color: white;
	z-index: 2;
	position: relative;
	margin-bottom: 40px !important;
}

.picManager>.thumbnails>li {
	margin-left: 15px;
	height: 100px;
	width: 100px;
	display: inline-block;
	list-style: none;
}

.picManager>.thumbnail img,.picManager>.thumbnail>a {
	z-index: 2;
	height: 100px;
	width: 100px;
	position: relative;
	display: block;
}

.picManager>.img.grayscale {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	/*filter: url(desaturate.svg#grayscale);
filter: gray;
filter: grayscale(100%); */
}

.picManager>.thumbnail {
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	height: 22px;
	min-height: 22px;
	width: 80px;
	padding: 9px;
}

.picManager>.thumbnail .picManager>.gallery-controls p {
	display: block;
	margin: auto;
	width: 100%;
}

.bs-calloutVeh,.bs-callout {
	border-left: 3px solid #434343;
	margin: 20px 0;
	padding: 20px 20px 0px 20px;
	background-color: #E3E3E3;
	border-color: none repeat scroll 0 0 #B4B0B5;
}

.bs-calloutVeh,.bs-callout>a:HOVER,a:FOCUS {
	text-decoration: none;
	color: black;
}

#map {
	
	height: 360px;
	
}

/************** Bootstrap remake********/
@media (min-width: 768px)  and (max-width: 991px){
.pubs{
   display: none !important;
}

}

#myModal{
	border-radius:6px 6px 6px 6px;
}
.modal .modal-header {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius:6px 6px 0 0;
}
.modal .modal-header .btn {

}
.modal .modal-body {

}
.modal .modal-footer {
   
}


.global_block{
	min-height:650px;
	height:auto;
	background-color:#000;
	width:100%;
	padding-left:1%;
	margin-bottom:0;
}

.navbar-inverse {
  background-color: #000;
}

.block-avant{
	z-index:99;
	margin-top:-600px;
    background-color:#000;
}

.logo-page{
	margin-left:25%;
	margin-right:5%;
	padding-top:30px;
}

.loginForm, .registerForm{
	background-color:rgba(245, 245, 245, 0.7);
	padding:4% 5% 4% 4%;
}

.loginForm legend, .registerForm legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  margin-bottom:5px;
}

.checkbox_remember, .linkForgotPassword{
	margin-top:2%;
}

.checkbox_remember input{
	margin-left:-15px;
}

.checkbox_remember span{
	font-size:8pt;
	margin-top:-18px;
	margin-left:5px;
	display:block;
}

.linkForgotPassword{
	font-size:8pt;
	padding-top:2%;
}

.checkbox_terms{
	padding-left:0;
	margin-top:10px;
    font-size:8pt;
}

.checkbox_terms a{
	margin-left:5px;
}

.checkbox_terms input{
	margin-top:0;
	display:block;
	float:left;
	margin-left:0px;
}

footer{
    padding-top:20px;
    background-color:#FFFBE8;
}

.traitgauche{
	color:#B57936;
	text-shadow: none !important;
}

.copyright{
	color:#5BC0DE;
	text-shadow: none !important;
}	

.transparent{
	opacity:0.6;
	filter(opacity=60);
}

#topheader{
	margin-bottom:-10px;
}

.navbar-topheader{
	background-color:#FFFBE8;
}


#subuser div, #subveh div, #subinfo div, #subdanger div{
	width:100%;
}

#subuser div .panel, #subveh div .panel, #subinfo div .panel, #subdanger div .panel{
	padding-right:0;
}

@media (min-width: 768px) and (max-width:991px){
.logo-page img{
	width:50%;
}

.img_veh1{
	width:50px;
	margin-left:40px;
}
}

@media (min-width:992px) and (max-width:1199px){
	.loginForm, .registerForm{
	   width: 325px;
	}
	
    .img_veh1{
	margin-left:-50px;
}
    .selectVehicle{
       padding-left:3px;
       padding-right:0;
    }
    
    .navbar-topheader .container{
       padding-left:40px;
    }
    
    .bs-navbar-topheader .navbar-nav{
       width:40%;
       margin-left:20px;
    }
}

@media (width:768px){
.bs-navbar-topheader{
	width:78%;
	margin-left:5%;
}
.img_veh1{
	width:40px;
	margin-left:50px;
}

}

@media (min-width:389px) and (max-width:767px){

#vehiculeState_header{
	float:left;
}
}

@media (width:1280px){

    .navbar-topheader .container{
       padding-left:50px;
    }
}
