.user>a>img {
	display: inline-block;
	height: 46px;
	vertical-align: center;
	width: 46px;
	margin-right: 4px;
}

.user {
	cursor: pointer;
}

.user>a:HOVER {
	text-decoration: none;
}

.container2 {
	max-width: auto;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.container2 a,.dropdown-menu a {
	cursor: pointer;
}

.xlarge {
	min-width: 400px;
}

.xmoyen {
	min-width: 300px;
}

.navbar-brand {
	padding: 10px;
	margin-left: -40px;
	margin-right: 20px;
}

.searchinput {
	width: 230px;
	padding-top: 7px;
}

.loginInput>span {
	font-size: 13px;
	color: gray;
	font-weight: lighter;
}

.linkForgotPassword {
	font-size: 13px;
	margin-top: 10px;
	cursor: pointer;
}

.logoLink {
	margin-left: 10px;
}

.avatarDropdown {
	margin-left: 10px;
}

.friendInvitDropdown {
	margin-left: -10px;
}

.defaultVehicleImg {
	margin-left: 10px;
}

.userVehicleImg {
	margin-left: 10px;
	width: 46px;
	height: 46px;
}

.widget .panel-body {
	padding: 0px;
}

.widget .list-group {
	margin-bottom: 0;
}

.widget .panel-title {
	display: inline
}

.widget .label-info {
	float: right;
}

.widget li.list-group-item {
	border-radius: 0;
	border: 0;
	border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
	background-color: rgba(86, 61, 124, .1);
}

.widget .mic-info {
	color: #666666;
	font-size: 11px;
}

.widget .action {
	margin-top: 5px;
}

.widget .comment-text {
	font-size: 12px;
}

.widget .btn-block {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.picManager>.thumbnail {
	background-color: white;
	z-index: 2;
	position: relative;
	margin-bottom: 40px !important;
}

.picManager>.thumbnails>li {
	margin-left: 15px;
	height: 100px;
	width: 100px;
	display: inline-block;
	list-style: none;
}

.picManager>.thumbnail img,.picManager>.thumbnail>a {
	z-index: 2;
	height: 100px;
	width: 100px;
	position: relative;
	display: block;
}

.picManager>.img.grayscale {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	/*filter: url(desaturate.svg#grayscale);
filter: gray;
filter: grayscale(100%); */
}

.picManager>.thumbnail {
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	height: 22px;
	min-height: 22px;
	width: 80px;
	padding: 9px;
}

.picManager>.thumbnail .picManager>.gallery-controls p {
	display: block;
	margin: auto;
	width: 100%;
}

.bs-calloutVeh, .bs-callout {
	border-left: 3px solid #434343;
	margin: 20px 0;
	padding: 20px 20px 0px 20px;
	background-color: #E3E3E3;
	border-color: none repeat scroll 0 0 #B4B0B5;
}

.bs-calloutVeh,.bs-callout>a:HOVER,a:FOCUS {
	text-decoration: none;
	color: black;
}

#map {
	width: 480px;
	height: 360px;
}